---
# Map-related styles
---
#main-content {
  #map {
    height: 500px;
    width: 100%;

    #loader-container {
      position: relative;
      height: 100%;
      width: 100%;
      background: white;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: auto;
      }
    }

    .leaflet-control {
      .timecontrol-date {
        min-width: 80px;
        padding: 0 10px;
      }
    }
    .info {
      background-color: rgba(150, 150, 150, 0.6);
      padding: 0;
      .legend {
        height: 10px;
        .info-swatch {
          width: 10%;
          display: block;
          float: left;
          height: 10px;
        }
      }
      .legend-values {
        position: absolute;
        bottom: -10px;
        width: 100%;
        .arrow {
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          top: -10px;
          z-index: 1;
          &.left {
            border-width: 20px 0 0 20px;
            border-color: transparent transparent transparent white;
            left: 0;
          }
          &.right {
            border-width: 0 0 20px 20px;
            border-color: transparent transparent white transparent;
            right: 1px;
            box-shadow: 1px 1px 1px 0px #666;
          }
        }
        .legend-value {
          padding: 0 4px;
          background: white;
          position: absolute;
          z-index: 2;
          &.left {
            left: 0;
          }
          &.right {
            right: 1px;
          }
          box-shadow: 1px 1px 1px 0px #666;
        }
      }
      .feature-list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
          position: relative;
          margin-top: 3px;
          &:first-child {
            margin-top: 0;
          }
          cursor: pointer;
          height: 23px;
          .info-bar, .info-name, .info-value {
            height: 23px;
            position: absolute;
          }
          .info-bar {
            right: 0;
            border-radius: 2px 0 0 2px;
            background: white;
            z-index: 1;
          }
          .info-name {
            right: 0;
            z-index: 2;
            padding: 3px 20px 3px 3px;
            &.info-no-value {
              background: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #CCC 2px, #CCC 4px);
            }
          }
          .info-value {
            z-index: 2;
            margin-right: 5px;
            background-color: #ddd;
            padding: 3px;
            border-radius: 2px;
          }
          .info-close {
            top: 6px;
            right: 5px;
            position: absolute;
            z-index: 3;
          }
        }
      }
      text-align: right;
      width: 300px;
    }
  }
}
